.timeseries-context-menu {
    position: fixed;
    background: #fff;
    z-index: 9999999;
    width: 150px;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    visibility:hidden;
    font-size: 13px;
    list-style-type: none;
    padding-left:0px;
    text-align: center;
    font-family: Calibri,Verdana,sans-serif!important;
}

.timeseries-context-menu-option{
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}
.timeseries-context-menu-option div {
    background-color: white;
    color:black;
    width: 100%;
}

.timeseries-context-menu-option div:hover {
    background-color: black;
    color:white;
}

.timeseries-load-button {
    background-color: #00a499;
    color: white;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    padding: 6px 12px; 
    border-radius: 3px;
}
.timeseries-load-button:hover{
    background-color: #1d2e38;
}
input.timeseries-load-button[type="file"] {
    display: none;
}

.timeseries-custom-file-upload {
    border: 1px solid #ccc;  
    display: inline-block;  
    padding: 6px 12px;  
    cursor: pointer;  
    background-color: #00a499;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    font-size: 17px;
}
.timeseries-custom-file-upload:hover{
    background-color: #1d2e38;
}
.timeseries_signal_switches {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.timeseries_signal_div {
    /*flex-grow: 1;*/
    flex-basis: auto;
    align-self: center;

}
.timeseries_font {
    font-family: Calibri,Verdana,sans-serif!important;
}